<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Atea</string>
	<key>ordering</key>
	<array>
		<string>80E989E0-4D69-4F64-AD2A-8E00CFCCC860</string>
		<string>D54D225C-80C5-421D-8540-0A70B155CF8F</string>
		<string>8E58960F-158D-47DB-B379-98A63EE9B8AC</string>
		<string>54BCD643-19D0-4128-B661-1A53DE3751F2</string>
		<string>DB8D1983-0076-4B75-A8FE-16582A7BE076</string>
	</array>
	<key>uuid</key>
	<string>FB9930C3-C37A-47A4-885B-8AC0B095F34A</string>
</dict>
</plist>
