<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Atea</string>
	<key>uuid</key>
	<string>FB9930C3-C37A-47A4-885B-8AC0B095F34A</string>
</dict>
</plist>
